## `Example`

    • Eagle Outlier is a chain of stores specializing in outdoor apparel and campiagian gear.They are considered a promotion  that involves mailing discount coupouns to all their credit card customers.This promotion wil be considered a success if more than 10% of those receiving the coupons use them.Before going national with the promotion ,coupons were sent to a sample of 100 credit cards customers.
     a.Develope hypothesis that can be used to test whether the population propotion of those who will use the coupons is    
       sufficient to go national.
     b.The file Eagle contains the sample data. Develope a point estimate of the population propotion.
     c.Use α .05 to conduct your hypothesis test. Should Eagle go national with the promotion?

In [1]:
import pandas as pd

eagle = pd.read_csv('E:\\python\\Eagle.csv')

In [6]:
eagle.describe()

       Used_Coupon
count          100
unique           2
top             No
freq            87

In [3]:
Yes = eagle.groupby('Used_Coupon')
eagle_Yes = Yes.get_group('Yes')

In [4]:
eagle_Yes

   Used_Coupon
3          Yes
6          Yes
24         Yes
27         Yes
36         Yes
49         Yes
50         Yes
52         Yes
68         Yes
73         Yes
90         Yes
92         Yes
93         Yes

In [5]:
eagle_Yes.describe()

       Used_Coupon
count           13
unique           1
top            Yes
freq            13

In [7]:
import math
a = 0.13 -0.1
b = math.sqrt(0.1*(1-0.1)/100)
z = a/b

In [8]:
z

0.9999999999999999

    Population Propotion
    • H0 : P less than eqaul to 0.10
    • H1 : P>0.10 #population proportion is greater than 10%.

In [54]:
from scipy.stats import norm
pbar = 13/100 #sample propotion
pzero = 0.10 #hypothesised value
n =100
mu,sigma = 0,1

z1 = pbar - pzero
z2 = (pzero*(1-pzero)/n)**0.5

z13 = z1/z2
#The are on the left side of STD, NOR

p13 = norm.cdf(z13,mu,sigma)
#since it is upper tale test
print('Upper tale P value : %2.4f' %(1-p13))

Upper tale P value : 0.1587

    p-value 0.1587 is greater than 0.05. We accept H0 and hence should not go for National

In [49]:
from scipy.stats import norm
pbar = 14/100 #sample propotion
pzero = 0.10 #hypothesised value
n =100
mu,sigma = 0,1

z1 = pbar - pzero
z2 = (pzero*(1-pzero)/n)**0.5

z14 = z1/z2
#The are on the left side of STD, NOR

p14 = norm.cdf(z14,mu,sigma)
#since it is upper tale test
print('Upper tale P value : %2.4f' %(1-p14))

Upper tale P value : 0.0912

In [50]:
from scipy.stats import norm
pbar = 15/100 #sample propotion
pzero = 0.10 #hypothesised value
n =100
mu,sigma = 0,1

z1 = pbar - pzero
z2 = (pzero*(1-pzero)/n)**0.5

z15 = z1/z2
#The are on the left side of STD, NOR

p15 = norm.cdf(z15,mu,sigma)
#since it is upper tale test
print('Upper tale P value : %2.4f' %(1-p15))

Upper tale P value : 0.0478

In [51]:
from scipy.stats import norm
pbar = 16/100 #sample propotion
pzero = 0.10 #hypothesised value
n =100
mu,sigma = 0,1

z1 = pbar - pzero
z2 = (pzero*(1-pzero)/n)**0.5

z16 = z1/z2
#The are on the left side of STD, NOR

p16 = norm.cdf(z16,mu,sigma)
#since it is upper tail test
print('Upper tale P value : %2.4f' %(1-p16))

Upper tale P value : 0.0228

In [55]:
Ptable = pd.DataFrame({'Z':[z13,z14,z15,z16],'P':[1-p13,1-p14,1-p15,1-p16] ,'Accept': ['H0','H0','H1','H1']},index = [13,14,15,16])

In [56]:
Ptable

           Z         P Accept
13  1.000000  0.158655     H0
14  1.333333  0.091211     H0
15  1.666667  0.047790     H1
16  2.000000  0.022750     H1

In [5]:
from scipy.stats import norm
import pandas as pd

def propotion(pro):
    pbar = pro/100
    pzero = 0.10 #hypothesised value
    n =100
    mu,sigma = 0,1
    
    z1 = pbar - pzero
    z2 = (pzero*(1-pzero)/n)**0.5

    z = z1/z2
    
    #The are on the left side of STD, NOR
    p = norm.cdf(z,mu,sigma)

    data = dict()
    data['pbar'] = pro
    data['z'] = z
    data['Value of p']= 1-p
    
    if (1 -p ) < 0.05:
        data['Accept'] = 'H1'
    else :
        data['Accept'] = 'H0'
    
    return data 


df100 = pd.DataFrame({'pbar':[],'z':[],'Value of p': [],'Accept': []})
for pro in range(13,20):
    df100= df100.append(propotion(pro),ignore_index = True)

In [6]:
df100

   pbar         z  Value of p Accept
0  13.0  1.000000    0.158655     H0
1  14.0  1.333333    0.091211     H0
2  15.0  1.666667    0.047790     H1
3  16.0  2.000000    0.022750     H1
4  17.0  2.333333    0.009815     H1
5  18.0  2.666667    0.003830     H1
6  19.0  3.000000    0.001350     H1

### `Drowsy.csv`

     In a cover story, BusinessWeek published information about sleep habits of Americans (BusinessWeek, January 26, 2004). The article noted that sleep deprivation causes a number of problems, including highway deaths. Fifty-one percent of adult drivers admit to driving while drowsy. A researcher hypothesized that this issue was an even bigger problem for night shift workers.
    a. Formulate the hypotheses that can be used to help determine whether more than 51% of the population of night shift 
       workers admit to driving while drowsy.
    b. A sample of 500 night shift workers identified those who admitted to driving while drowsy. What is the sample 
       proportion? What is the p-value?
    c. At α = 0.01, what is your conclusion?

In [2]:
import pandas as pd
drowsy = pd.read_csv('E://python//Drowsy.csv')

In [3]:
drowsy

    Drowsy
0      Yes
1      Yes
2       No
3      Yes
4       No
..     ...
495     No
496    Yes
497    Yes
498    Yes
499     No

[500 rows x 1 columns]

In [5]:
Yes = drowsy.groupby('Drowsy')
Drowsy_Yes = Yes.get_group('Yes')

In [23]:
Drowsy_Yes

    Drowsy
0      Yes
1      Yes
3      Yes
5      Yes
7      Yes
..     ...
490    Yes
491    Yes
496    Yes
497    Yes
498    Yes

[232 rows x 1 columns]

In [6]:
Drowsy_Yes.count()

Drowsy    232
dtype: int64

In [24]:
from scipy.stats import norm
pbar = 232/500 #sample propotion
pzero = 0.51 #hypothesised value
n =500
mu,sigma = 0,1

z1 = pbar - pzero
z2 = (pzero*(1-pzero)/n)**0.5

z = z1/z2
#The are on the left side of STD, NOR

p = norm.cdf(z,mu,sigma)
#since it is upper tale test
print('Z : %2.4f'%z)
print('Upper tale P value : %2.4f' %(1-p))

Z : -2.0576
Upper tale P value : 0.9802

     p-value 0.9802 is greater than 0.01. We accept H0 and % of no drivers admiting to drive while drowsly is less than 51%

In [12]:
from scipy.stats import norm
import pandas as pd

def propotion(pro):
    pbar = pro/500
    pzero = 0.51 #hypothesised value
    n =500
    mu,sigma = 0,1
    
    z1 = pbar - pzero
    z2 = (pzero*(1-pzero)/n)**0.5

    z = z1/z2
    
    #The are on the left side of STD, NOR
    p = norm.cdf(z,mu,sigma)

    data = dict()
    data['pbar'] = pro
    data['z'] = z
    data['Value of p']= 1-p
    
    if (1 -p ) < 0.01:
        data['Accept'] = 'H1'
    else :
        data['Accept'] = 'H0'
    
    return data 


df100 = pd.DataFrame({'pbar':[],'z':[],'Value of p': [],'Accept': []})
for pro in range(232,501):
    df100= df100.append(propotion(pro),ignore_index = True)

In [13]:
df100

      pbar          z  Value of p Accept
0    232.0  -2.057594    0.980185     H0
1    233.0  -1.968133    0.975474     H0
2    234.0  -1.878673    0.969855     H0
3    235.0  -1.789212    0.963210     H0
4    236.0  -1.699752    0.955411     H0
..     ...        ...         ...    ...
264  496.0  21.560008    0.000000     H1
265  497.0  21.649468    0.000000     H1
266  498.0  21.738929    0.000000     H1
267  499.0  21.828390    0.000000     H1
268  500.0  21.917850    0.000000     H1

[269 rows x 4 columns]

In [14]:
from tabulate import tabulate
print(tabulate(df100,headers='keys',tablefmt="github"))

|     |   pbar |          z |   Value of p | Accept   |
|-----|--------|------------|--------------|----------|
|   0 |    232 | -2.05759   |  0.980185    | H0       |
|   1 |    233 | -1.96813   |  0.975474    | H0       |
|   2 |    234 | -1.87867   |  0.969855    | H0       |
|   3 |    235 | -1.78921   |  0.96321     | H0       |
|   4 |    236 | -1.69975   |  0.955411    | H0       |
|   5 |    237 | -1.61029   |  0.946333    | H0       |
|   6 |    238 | -1.52083   |  0.935849    | H0       |
|   7 |    239 | -1.43137   |  0.923838    | H0       |
|   8 |    240 | -1.34191   |  0.910187    | H0       |
|   9 |    241 | -1.25245   |  0.894797    | H0       |
|  10 |    242 | -1.16299   |  0.877583    | H0       |
|  11 |    243 | -1.07353   |  0.858483    | H0       |
|  12 |    244 | -0.984067  |  0.837459    | H0       |
|  13 |    245 | -0.894606  |  0.814501    | H0       |
|  14 |    246 | -0.805146  |  0.789632    | H0       |
|  15 |    247 | -0.715685  |  0.762907    | H0       |
|  16 |    248 | -0.626224  |  0.734416    | H0       |
|  17 |    249 | -0.536764  |  0.704285    | H0       |
|  18 |    250 | -0.447303  |  0.672672    | H0       |
|  19 |    251 | -0.357842  |  0.639769    | H0       |
|  20 |    252 | -0.268382  |  0.605797    | H0       |
|  21 |    253 | -0.178921  |  0.571       | H0       |
|  22 |    254 | -0.0894606 |  0.535642    | H0       |
|  23 |    255 |  0         |  0.5         | H0       |
|  24 |    256 |  0.0894606 |  0.464358    | H0       |
|  25 |    257 |  0.178921  |  0.429       | H0       |
|  26 |    258 |  0.268382  |  0.394203    | H0       |
|  27 |    259 |  0.357842  |  0.360231    | H0       |
|  28 |    260 |  0.447303  |  0.327328    | H0       |
|  29 |    261 |  0.536764  |  0.295715    | H0       |
|  30 |    262 |  0.626224  |  0.265584    | H0       |
|  31 |    263 |  0.715685  |  0.237093    | H0       |
|  32 |    264 |  0.805146  |  0.210368    | H0       |
|  33 |    265 |  0.894606  |  0.185499    | H0       |
|  34 |    266 |  0.984067  |  0.162541    | H0       |
|  35 |    267 |  1.07353   |  0.141517    | H0       |
|  36 |    268 |  1.16299   |  0.122417    | H0       |
|  37 |    269 |  1.25245   |  0.105203    | H0       |
|  38 |    270 |  1.34191   |  0.0898127   | H0       |
|  39 |    271 |  1.43137   |  0.0761621   | H0       |
|  40 |    272 |  1.52083   |  0.0641512   | H0       |
|  41 |    273 |  1.61029   |  0.0536672   | H0       |
|  42 |    274 |  1.69975   |  0.0445888   | H0       |
|  43 |    275 |  1.78921   |  0.0367903   | H0       |
|  44 |    276 |  1.87867   |  0.0301446   | H0       |
|  45 |    277 |  1.96813   |  0.0245263   | H0       |
|  46 |    278 |  2.05759   |  0.0198146   | H0       |
|  47 |    279 |  2.14705   |  0.0158945   | H0       |
|  48 |    280 |  2.23652   |  0.012659    | H0       |
|  49 |    281 |  2.32598   |  0.0100099   | H0       |
|  50 |    282 |  2.41544   |  0.00785818  | H1       |
|  51 |    283 |  2.5049    |  0.00612435  | H1       |
|  52 |    284 |  2.59436   |  0.00473839  | H1       |
|  53 |    285 |  2.68382   |  0.00363933  | H1       |
|  54 |    286 |  2.77328   |  0.00277473  | H1       |
|  55 |    287 |  2.86274   |  0.00209998  | H1       |
|  56 |    288 |  2.9522    |  0.00157759  | H1       |
|  57 |    289 |  3.04166   |  0.00117638  | H1       |
|  58 |    290 |  3.13112   |  0.000870701 | H1       |
|  59 |    291 |  3.22058   |  0.000639653 | H1       |
|  60 |    292 |  3.31004   |  0.000466409 | H1       |
|  61 |    293 |  3.3995    |  0.000337542 | H1       |
|  62 |    294 |  3.48896   |  0.000242448 | H1       |
|  63 |    295 |  3.57842   |  0.000172836 | H1       |
|  64 |    296 |  3.66789   |  0.000122283 | H1       |
|  65 |    297 |  3.75735   |  8.58626e-05 | H1       |
|  66 |    298 |  3.84681   |  5.98337e-05 | H1       |
|  67 |    299 |  3.93627   |  4.13795e-05 | H1       |
|  68 |    300 |  4.02573   |  2.83997e-05 | H1       |
|  69 |    301 |  4.11519   |  1.93432e-05 | H1       |
|  70 |    302 |  4.20465   |  1.30744e-05 | H1       |
|  71 |    303 |  4.29411   |  8.7698e-06  | H1       |
|  72 |    304 |  4.38357   |  5.8375e-06  | H1       |
|  73 |    305 |  4.47303   |  3.85594e-06 | H1       |
|  74 |    306 |  4.56249   |  2.52751e-06 | H1       |
|  75 |    307 |  4.65195   |  1.64404e-06 | H1       |
|  76 |    308 |  4.74141   |  1.06117e-06 | H1       |
|  77 |    309 |  4.83087   |  6.79678e-07 | H1       |
|  78 |    310 |  4.92033   |  4.31984e-07 | H1       |
|  79 |    311 |  5.00979   |  2.72441e-07 | H1       |
|  80 |    312 |  5.09925   |  1.70497e-07 | H1       |
|  81 |    313 |  5.18872   |  1.05875e-07 | H1       |
|  82 |    314 |  5.27818   |  6.5238e-08  | H1       |
|  83 |    315 |  5.36764   |  3.98875e-08 | H1       |
|  84 |    316 |  5.4571    |  2.4199e-08  | H1       |
|  85 |    317 |  5.54656   |  1.45674e-08 | H1       |
|  86 |    318 |  5.63602   |  8.70133e-09 | H1       |
|  87 |    319 |  5.72548   |  5.15711e-09 | H1       |
|  88 |    320 |  5.81494   |  3.03278e-09 | H1       |
|  89 |    321 |  5.9044    |  1.76966e-09 | H1       |
|  90 |    322 |  5.99386   |  1.02458e-09 | H1       |
|  91 |    323 |  6.08332   |  5.88589e-10 | H1       |
|  92 |    324 |  6.17278   |  3.35493e-10 | H1       |
|  93 |    325 |  6.26224   |  1.8974e-10  | H1       |
|  94 |    326 |  6.3517    |  1.06472e-10 | H1       |
|  95 |    327 |  6.44116   |  5.92802e-11 | H1       |
|  96 |    328 |  6.53062   |  3.27479e-11 | H1       |
|  97 |    329 |  6.62009   |  1.79495e-11 | H1       |
|  98 |    330 |  6.70955   |  9.76152e-12 | H1       |
|  99 |    331 |  6.79901   |  5.26712e-12 | H1       |
| 100 |    332 |  6.88847   |  2.81986e-12 | H1       |
| 101 |    333 |  6.97793   |  1.4978e-12  | H1       |
| 102 |    334 |  7.06739   |  7.89369e-13 | H1       |
| 103 |    335 |  7.15685   |  4.12781e-13 | H1       |
| 104 |    336 |  7.24631   |  2.14162e-13 | H1       |
| 105 |    337 |  7.33577   |  1.10245e-13 | H1       |
| 106 |    338 |  7.42523   |  5.62883e-14 | H1       |
| 107 |    339 |  7.51469   |  2.85327e-14 | H1       |
| 108 |    340 |  7.60415   |  1.43219e-14 | H1       |
| 109 |    341 |  7.69361   |  7.10543e-15 | H1       |
| 110 |    342 |  7.78307   |  3.55271e-15 | H1       |
| 111 |    343 |  7.87253   |  1.77636e-15 | H1       |
| 112 |    344 |  7.96199   |  8.88178e-16 | H1       |
| 113 |    345 |  8.05146   |  4.44089e-16 | H1       |
| 114 |    346 |  8.14092   |  2.22045e-16 | H1       |
| 115 |    347 |  8.23038   |  1.11022e-16 | H1       |
| 116 |    348 |  8.31984   |  0           | H1       |
| 117 |    349 |  8.4093    |  0           | H1       |
| 118 |    350 |  8.49876   |  0           | H1       |
| 119 |    351 |  8.58822   |  0           | H1       |
| 120 |    352 |  8.67768   |  0           | H1       |
| 121 |    353 |  8.76714   |  0           | H1       |
| 122 |    354 |  8.8566    |  0           | H1       |
| 123 |    355 |  8.94606   |  0           | H1       |
| 124 |    356 |  9.03552   |  0           | H1       |
| 125 |    357 |  9.12498   |  0           | H1       |
| 126 |    358 |  9.21444   |  0           | H1       |
| 127 |    359 |  9.3039    |  0           | H1       |
| 128 |    360 |  9.39336   |  0           | H1       |
| 129 |    361 |  9.48282   |  0           | H1       |
| 130 |    362 |  9.57229   |  0           | H1       |
| 131 |    363 |  9.66175   |  0           | H1       |
| 132 |    364 |  9.75121   |  0           | H1       |
| 133 |    365 |  9.84067   |  0           | H1       |
| 134 |    366 |  9.93013   |  0           | H1       |
| 135 |    367 | 10.0196    |  0           | H1       |
| 136 |    368 | 10.109     |  0           | H1       |
| 137 |    369 | 10.1985    |  0           | H1       |
| 138 |    370 | 10.288     |  0           | H1       |
| 139 |    371 | 10.3774    |  0           | H1       |
| 140 |    372 | 10.4669    |  0           | H1       |
| 141 |    373 | 10.5564    |  0           | H1       |
| 142 |    374 | 10.6458    |  0           | H1       |
| 143 |    375 | 10.7353    |  0           | H1       |
| 144 |    376 | 10.8247    |  0           | H1       |
| 145 |    377 | 10.9142    |  0           | H1       |
| 146 |    378 | 11.0037    |  0           | H1       |
| 147 |    379 | 11.0931    |  0           | H1       |
| 148 |    380 | 11.1826    |  0           | H1       |
| 149 |    381 | 11.272     |  0           | H1       |
| 150 |    382 | 11.3615    |  0           | H1       |
| 151 |    383 | 11.451     |  0           | H1       |
| 152 |    384 | 11.5404    |  0           | H1       |
| 153 |    385 | 11.6299    |  0           | H1       |
| 154 |    386 | 11.7193    |  0           | H1       |
| 155 |    387 | 11.8088    |  0           | H1       |
| 156 |    388 | 11.8983    |  0           | H1       |
| 157 |    389 | 11.9877    |  0           | H1       |
| 158 |    390 | 12.0772    |  0           | H1       |
| 159 |    391 | 12.1666    |  0           | H1       |
| 160 |    392 | 12.2561    |  0           | H1       |
| 161 |    393 | 12.3456    |  0           | H1       |
| 162 |    394 | 12.435     |  0           | H1       |
| 163 |    395 | 12.5245    |  0           | H1       |
| 164 |    396 | 12.6139    |  0           | H1       |
| 165 |    397 | 12.7034    |  0           | H1       |
| 166 |    398 | 12.7929    |  0           | H1       |
| 167 |    399 | 12.8823    |  0           | H1       |
| 168 |    400 | 12.9718    |  0           | H1       |
| 169 |    401 | 13.0612    |  0           | H1       |
| 170 |    402 | 13.1507    |  0           | H1       |
| 171 |    403 | 13.2402    |  0           | H1       |
| 172 |    404 | 13.3296    |  0           | H1       |
| 173 |    405 | 13.4191    |  0           | H1       |
| 174 |    406 | 13.5086    |  0           | H1       |
| 175 |    407 | 13.598     |  0           | H1       |
| 176 |    408 | 13.6875    |  0           | H1       |
| 177 |    409 | 13.7769    |  0           | H1       |
| 178 |    410 | 13.8664    |  0           | H1       |
| 179 |    411 | 13.9559    |  0           | H1       |
| 180 |    412 | 14.0453    |  0           | H1       |
| 181 |    413 | 14.1348    |  0           | H1       |
| 182 |    414 | 14.2242    |  0           | H1       |
| 183 |    415 | 14.3137    |  0           | H1       |
| 184 |    416 | 14.4032    |  0           | H1       |
| 185 |    417 | 14.4926    |  0           | H1       |
| 186 |    418 | 14.5821    |  0           | H1       |
| 187 |    419 | 14.6715    |  0           | H1       |
| 188 |    420 | 14.761     |  0           | H1       |
| 189 |    421 | 14.8505    |  0           | H1       |
| 190 |    422 | 14.9399    |  0           | H1       |
| 191 |    423 | 15.0294    |  0           | H1       |
| 192 |    424 | 15.1188    |  0           | H1       |
| 193 |    425 | 15.2083    |  0           | H1       |
| 194 |    426 | 15.2978    |  0           | H1       |
| 195 |    427 | 15.3872    |  0           | H1       |
| 196 |    428 | 15.4767    |  0           | H1       |
| 197 |    429 | 15.5661    |  0           | H1       |
| 198 |    430 | 15.6556    |  0           | H1       |
| 199 |    431 | 15.7451    |  0           | H1       |
| 200 |    432 | 15.8345    |  0           | H1       |
| 201 |    433 | 15.924     |  0           | H1       |
| 202 |    434 | 16.0134    |  0           | H1       |
| 203 |    435 | 16.1029    |  0           | H1       |
| 204 |    436 | 16.1924    |  0           | H1       |
| 205 |    437 | 16.2818    |  0           | H1       |
| 206 |    438 | 16.3713    |  0           | H1       |
| 207 |    439 | 16.4608    |  0           | H1       |
| 208 |    440 | 16.5502    |  0           | H1       |
| 209 |    441 | 16.6397    |  0           | H1       |
| 210 |    442 | 16.7291    |  0           | H1       |
| 211 |    443 | 16.8186    |  0           | H1       |
| 212 |    444 | 16.9081    |  0           | H1       |
| 213 |    445 | 16.9975    |  0           | H1       |
| 214 |    446 | 17.087     |  0           | H1       |
| 215 |    447 | 17.1764    |  0           | H1       |
| 216 |    448 | 17.2659    |  0           | H1       |
| 217 |    449 | 17.3554    |  0           | H1       |
| 218 |    450 | 17.4448    |  0           | H1       |
| 219 |    451 | 17.5343    |  0           | H1       |
| 220 |    452 | 17.6237    |  0           | H1       |
| 221 |    453 | 17.7132    |  0           | H1       |
| 222 |    454 | 17.8027    |  0           | H1       |
| 223 |    455 | 17.8921    |  0           | H1       |
| 224 |    456 | 17.9816    |  0           | H1       |
| 225 |    457 | 18.071     |  0           | H1       |
| 226 |    458 | 18.1605    |  0           | H1       |
| 227 |    459 | 18.25      |  0           | H1       |
| 228 |    460 | 18.3394    |  0           | H1       |
| 229 |    461 | 18.4289    |  0           | H1       |
| 230 |    462 | 18.5183    |  0           | H1       |
| 231 |    463 | 18.6078    |  0           | H1       |
| 232 |    464 | 18.6973    |  0           | H1       |
| 233 |    465 | 18.7867    |  0           | H1       |
| 234 |    466 | 18.8762    |  0           | H1       |
| 235 |    467 | 18.9656    |  0           | H1       |
| 236 |    468 | 19.0551    |  0           | H1       |
| 237 |    469 | 19.1446    |  0           | H1       |
| 238 |    470 | 19.234     |  0           | H1       |
| 239 |    471 | 19.3235    |  0           | H1       |
| 240 |    472 | 19.413     |  0           | H1       |
| 241 |    473 | 19.5024    |  0           | H1       |
| 242 |    474 | 19.5919    |  0           | H1       |
| 243 |    475 | 19.6813    |  0           | H1       |
| 244 |    476 | 19.7708    |  0           | H1       |
| 245 |    477 | 19.8603    |  0           | H1       |
| 246 |    478 | 19.9497    |  0           | H1       |
| 247 |    479 | 20.0392    |  0           | H1       |
| 248 |    480 | 20.1286    |  0           | H1       |
| 249 |    481 | 20.2181    |  0           | H1       |
| 250 |    482 | 20.3076    |  0           | H1       |
| 251 |    483 | 20.397     |  0           | H1       |
| 252 |    484 | 20.4865    |  0           | H1       |
| 253 |    485 | 20.5759    |  0           | H1       |
| 254 |    486 | 20.6654    |  0           | H1       |
| 255 |    487 | 20.7549    |  0           | H1       |
| 256 |    488 | 20.8443    |  0           | H1       |
| 257 |    489 | 20.9338    |  0           | H1       |
| 258 |    490 | 21.0232    |  0           | H1       |
| 259 |    491 | 21.1127    |  0           | H1       |
| 260 |    492 | 21.2022    |  0           | H1       |
| 261 |    493 | 21.2916    |  0           | H1       |
| 262 |    494 | 21.3811    |  0           | H1       |
| 263 |    495 | 21.4705    |  0           | H1       |
| 264 |    496 | 21.56      |  0           | H1       |
| 265 |    497 | 21.6495    |  0           | H1       |
| 266 |    498 | 21.7389    |  0           | H1       |
| 267 |    499 | 21.8284    |  0           | H1       |
| 268 |    500 | 21.9179    |  0           | H1       |